.radiocharts-dashboard-module th,
.radiocharts-dashboard-module td {
    border: 1px solid #bbb;
    padding: 7px 14px;  /* Wider padding for clarity */
    min-width: 80px;    /* Minimum width for columns */
    white-space: nowrap; /* Prevent jammed numbers */
}

.radiocharts-dashboard-module td {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
}
.radiocharts-dashboard-module th {
	min-width: 1%!important;
}
.red-up {
    color: #e53935; /* or any red you prefer */
    font-size: 1.25em;
    font-weight: bold;
}